
body{
    font-family:sans-serif;
    background-color:whitesmoke;
    font-size: medium;
    text-align: center;
}
.footer{
    bottom: 0;
    position:fixed;
}
.column{
display: inline;
padding:10px;
}
img{
    width: 37%;
    border-radius: 4px;
    padding:10px;
}
img:hover{
    border-radius: 140px;
}